<%= render "shared/header"%>

<div class="profile-show-wrapper">
  <div class="text-center">
    <%if current_user.id == @user.id %>
      <h1><b><%="#{@user.nickname}（あなた）のページ" %></b></h1>
    <% else %>
      <h1><b><%="#{@user.nickname} のページ" %></b></h1>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p style="font-size:150%">ワインショップ情報</p>
        <table class="table-striped", style="width: 80%">
          <tbody>
            <tr>
              <th class="detail-item">店名</th>
              <td class="detail-value">
                <% if Profile.where(user_id: @user.id).exists? && @user.profile.shop.present? %>
                  <%= @user.profile.shop %>
                <% else %>
                  <%= "---" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="detail-item">所在地</th>
              <td class="detail-value">
                <% if Profile.where(user_id: @user.id).exists? && @user.profile.prefecture.id != 1%>
                  <%= @user.profile.prefecture.name %>
                <% else %>
                  <%= "---" %>
                <% end %>
              </td> 
            </tr>
            <tr>
              <th class="detail-item">主要顧客層</th>
              <td class="detail-value">
                <% if Profile.where(user_id: @user.id).exists? && @user.profile.customer.id != 1%>
                  <%= @user.profile.customer.name %>
                <% else %>
                  <%= "---" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="detail-item">注力価格帯</th>
              <td class="detail-value">
                <% if Profile.where(user_id: @user.id).exists? && @user.profile.price.id != 1 %>
                  <%= @user.profile.price.name %>
                <% else %>
                  <%= "---" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="detail-item">注力産地</th>
              <td class="detail-value">
                <% if Profile.where(user_id: @user.id).exists? && @user.profile.country.id != 1 %>
                  <%= @user.profile.country.name %>
                <% else %>
                  <%= "---" %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th class="detail-item">紹介コメント</th>
              <td class="detail-value">
                <% if Profile.where(user_id: @user.id).exists? && @user.profile.introduction.present? %>
                  <%= @user.profile.introduction %>
                <% else %>
                  <%= "---" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <% if current_user == @user %>
          <p class="profile-buttons">
            <% if Profile.where(user_id: @user.id).exists? %>
              <%= button_to "ショップ情報の編集", edit_user_profile_path(@user.id, @user.profile.id), method: :get, class: "btn btn-primary" %>
            <% else %>
              <%= button_to "ショップ情報の登録", new_user_profile_path(@user.id), method: :get, class: "btn btn-primary"%>
              <strong><p>※※※ショップ情報はログインメンバー限定で公開されます※※※</p></strong>
            <% end %>
          </p>
        <% end %>

        <p class="container-follow">
          <% if current_user != @user %>
            <% if @user.followed_by?(current_user) %>
              <%=link_to "フォロー中", user_relationships_path(@user.id),class: "btn btn-success", method: :delete %>
            <% else %>
              <%=link_to "フォローする", user_relationships_path(@user.id),class: "btn btn-outline-success", method: :post %>
            <% end %>
          <% end %>
        </p>

          <p class="follow-title", style="font-size:150%">
            <% if current_user == @user %>
              あなたを「フォロー」しているユーザー一覧
            <% else %>
              <%= "#{@user.nickname}をフォローしているユーザー一覧"%>
            <% end %>
          </p>

            <% if @user.followers.exists? %>
              <% @user.followers.each do |user| %>
                <% if current_user.id == user.id %>
                  <p><%= "#{user.nickname}（あなた）" %></p>
                <% else %>
                  <p class=“followers”><%= link_to user.nickname, "/users/#{user.id}/profiles", class: "followers" %></p>
                <% end %>
              <% end %>
            <% else %>
              <strong><p>※※※まだいません※※※</p></strong>
            <% end %>

            <% if current_user == @user %>
              <p class="follow-title", style="font-size:150%">
                あなたが「フォロー」しているユーザー一覧
              </p>
              <% if @user.followings.exists? %>
                <% @user.followings.each do |user| %>
                  <p class=“followers”><%= link_to user.nickname, "/users/#{user.id}/profiles", class: "followers" %></p>
                <% end %>
              <% else %>
                <strong><p>※※※まだいません※※※</p></strong>
              <% end %>
            <% end %>

          <p class="follow-title", style="font-size:150%">
            <% if current_user == @user %>
              あなたが「いいね」した投稿一覧
          </p>
              <% if @likes_list.present? %>
                <% @likes_list.each do |post|%>
                <p class="followers"><%= link_to post.title, post_path(post.id), class: "followers" %></p>
                <% end %>
              <% else %>
                <strong><p>※※※まだありません※※※</p></strong>
              <% end %>
            <% end %>
      </div>


      <div class="col-md-6">
        <div class="container-posts">
          <p style="font-size:150%">投稿一覧</p>
          <div class="row row-cols-2">
            <% if @posts.empty? %>
              <strong><p>※※※まだありません※※※</p></strong>
            <% else %>
              <% @posts.each do |post| %>
                <div class="card">
                  <% if post.image.attached? %>
                    <%= image_tag post.image, class: "index-img d-block mx-auto" %>
                  <% else %>
                    <img class="index-img d-block mx-auto" src="<%= "/images/sample.png" %>" alt="画像">
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%=post.title %></h5>
                    <p class="card-text card-text-margin">投稿ジャンル：<%=post.genre.name %></p>
                    <p class="card-text">投稿日：<%=post.created_at.strftime('%Y/%m/%d') %></p>
                    <div class="text-center">
                      <a href=<%=post_path(post.id)%> class="btn btn-secondary">この投稿を見る</a>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
