<%= @user.nickname + " さんの ワインショップ"%>
<div>
<table class="table-striped">
<tbody>
<tr>
<th class="detail-item">店名</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.shop %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">所在地</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.prefecture.name %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">主要顧客層</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.customer.name %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">注力産地</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists?  %>
<%= @user.profile.country.name %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">紹介コメント</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.introduction %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
</tbody>
</table>
</div>

<div>
<% if current_user != @user %>
<% if @user.followed_by?(current_user) %>
<%=link_to "フォロー中", user_relationships_path(@user.id),class: "btn btn-outline-success" , method: :delete %>
<% else %>
<%=link_to "フォローする", user_relationships_path(@user.id),class: "btn btn-primary" ,method: :post %>
<% end %>
<% end %>
</div>

<div>
<% if current_user.id == @user.id  %>
<% if Profile.where(user_id: @user.id).exists? %>
<%= link_to "プロフィールの編集", edit_user_profile_path(@user.id, @user.profile.id), method: :get, class: "post-red-btn" %>
<% else %>
<%= link_to "プロフィールの入力", new_user_profile_path(@user.id), method: :get, class: "post-red-btn"%>
<% end %>
</div>
<% end %>

<div>
<%= @user.nickname + " さんの 投稿一覧"%>
</div>
<div>
<% @posts.each do |post| %>
<%= link_to image_tag(post.image, class: :card__img ), post_path(post.id)%>
  <div class="card__body">
    <%= link_to post.title, post_path(post.id), class: :card__title%>
    <p class="card__summary">
      <%= post.genre.name %>
      <%= post.created_at.strftime('%Y/%m/%d')%>
    </p>
      </div>
      </div>
<% end %>
