<%= render "shared/header"%>
<body>
<div class="profile-show-wrapper">
  <div class="profile-show-top text-center">
   <h1><b><%="#{@user.nickname}さんのページ" %></b></h1>
  </div>

<div class="container">
<div class="row">
<div class="col-md-6">
<% if current_user == @user %>
<span style="font-size:150%">ワインショップ情報</span>
<% else %>
<%= @user.nickname + " さんの ワインショップ情報"%>
<% end %>
<table class="table-striped", style="width: 80%">
<tbody>
<tr>
<th class="detail-item">店名</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.shop %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">所在地</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.prefecture.name %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">主要顧客層</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.customer.name %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">注力産地</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists?  %>
<%= @user.profile.country.name %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
<tr>
<th class="detail-item">紹介コメント</th>
<td class="detail-value">
<% if Profile.where(user_id: @user.id).exists? %>
<%= @user.profile.introduction %>
<% else %>
<%= "---" %>
<% end %>
</td>
</tr>
</tbody>
</table>

<span class="profile-buttons">
<% if Profile.where(user_id: @user.id).exists? %>
<%= button_to "ショップ情報の編集", edit_user_profile_path(@user.id, @user.profile.id), method: :get, class: "btn btn-primary" %>
<% else %>
<%= button_to "ショップ情報の入力", new_user_profile_path(@user.id), method: :get, class: "btn btn-primary"%>
<% end %>
</span>






<% if current_user != @user %>
<% if @user.followed_by?(current_user) %>
<%=link_to "フォロー中", user_relationships_path(@user.id),class: "btn btn-outline-success" , method: :delete %>
<% else %>
<%=link_to "フォローする", user_relationships_path(@user.id),class: "btn btn-primary" ,method: :post %>
<% end %>
<% end %>

<% if @user.followers.exists? %>
<h3>フォロワー</h3>
<% @user.followers.each do |user| %>
<p class=“f-user”><%= link_to user.nickname, "/users/#{user.id}/profiles" %></p>
<% end %>
<% end %>
</div>

<div class="col-md-6">
  <div class="container container-posts">
  <% if current_user == @user %>
  <span style="font-size:150%">投稿一覧</span>
  <% else %>
  <%= @user.nickname + " さんの投稿一覧"%>
  <% end %>
    <div class="row row-cols-2">
        <% @posts.each do |post| %>
          <div class="card">
          <% if post.image.attached? %>
          <%= image_tag post.image, class: "index-img d-block mx-auto" %>
          <% else %>
          <img class="index-img d-block mx-auto" src="<%= "/images/test_sample.png" %>" alt="Index image cap">
          <% end %>
          <div class="card-body">
          <h5 class="card-title"><%=post.title %></h5>
          <p class="card-text">投稿日：<%=post.created_at.strftime('%Y/%m/%d') %></p>
            <div class="text-center">
            <a href=<%=post_path(post.id)%> class="btn btn-secondary">この投稿を見る</a>
            </div>
          </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>