          <% posts.each do |post| %>
            <div class="card">
              <% if post.image.attached? %>
                <%= image_tag post.image, class: "index-img d-block mx-auto" %>
              <% else %>
                <img class="index-img d-block mx-auto" src="<%= "/images/sample.png" %>" alt="画像">
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%=post.title %></h5>
                <% if user_signed_in? %>
                  <p class="card-text card-text-margin">投稿者：<%=post.user.nickname %></p>
                <% end %>
                <p class="card-text">投稿日：<%=post.created_at.strftime('%Y/%m/%d') %></p>

                <div class="text-center">
                  <a href=<%=post_path(post.id)%> class="btn btn-secondary">この投稿を見る</a>
                </div>
              </div>
            </div>
          <% end %>