<%= render "shared/header"%>

<div class="wrapper" >
  <div class="container-fluid img-hidden">
    <img src="/images/indeximage.jpg" class="img-fluid">
  </div>
  <div class="index-message text-center">
    『<b><span class="app-title" style="font-size:120%">WINE SHOP CLUB</span></b>』は、ワイン小売業者間での情報交換の推進を目的としています。<br>
    『<b>今売れてます</b>』『<b>次のシーズンで注力</b>』『<b>探してます</b>』の三つのジャンルでワインに関する情報を投稿できます。<br>
    店頭販促や仕入れの計画にお役立てください。
  </div>

  <div class="container">
    <div class="container-w">
      <div class="index-category">
        <div class="left"><span style="font-size:180%"><b>今売れてます  </b></span>の最近の投稿 </div>
        <div class="right"><span style="font-size:150%"><%= link_to "すべて見る", posts_index_hot_path, class:"index-category-link" %></span></div>
      </div>
      <div class="row row-cols-3">
        <%= render partial: "card", locals: {posts: @post1} %>
      </div>
    </div>

    <div class="container-w">
      <div class="index-category">
        <div class="left"><span style="font-size:180%"><b>次のシーズンで注力  </b></span>の最近の投稿 </div>
        <div class="right"><span style="font-size:150%"><%= link_to "すべて見る", posts_index_next_path, class:"index-category-link" %></span></div>
      </div>
      <div class="row row-cols-3">
        <%= render partial: "card", locals: {posts: @post2} %>
      </div>
    </div>

    <div class="container-w">
      <div class="index-category">
        <div class="left"><span style="font-size:180%"><b>探してます  </b></span>の最近の投稿 </div>
        <div class="right"><span style="font-size:150%"><%= link_to "すべて見る", posts_index_wanted_path, class:"index-category-link" %></span></div>
      </div>
      <div class="row row-cols-3">
        <%= render partial: "card", locals: {posts: @post3} %>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer"%>